/bin/serve/target
/diff.png
/generate
/images/*.actual-memory.png
/integration/target
/integration/www/degenerate.js
/integration/www/degenerate_bg.wasm
/memory.png
/output.txt
/program.degen
/target
/tests/node_modules
/tests/playwright-report
/tests/playwright/.cache
/tests/test-results
/www/degenerate.js
/www/degenerate_bg.wasm
/www/man
/www/program.js
/www/program_bg.wasm
