/generate
/images/*.actual-memory.png
/integration/target
/integration/www/degenerate.js
/integration/www/degenerate_bg.wasm
/memory.png
/output.txt
/program.degen
/target
/www/degenerate.js
/www/degenerate_bg.wasm
/www/man
